/* Media Queries */
@media (max-width: 720px) {
	.details-top,
	.actor-details-top {
		display: block;
		margin-bottom: 40px;
		padding-bottom: 20px;
		border-bottom: #ccc solid 1px;

		img {
			max-height: 400px;
			width: auto;
		}

		h2 {
			margin-top: 20px;
		}
	}

	.header-wrapper {
		h2 {
			font-size: 15px;
			padding: 5px 45px;
			white-space: nowrap;
		}
	}

	.main-footer .container .logo {
		display: none;
	}
}

@media (max-width: 574px) {
	.header-popular {
		text-align: center;
	}

	.card {
		max-width: 375px;
	}

	#search-results-heading {
		h2 {
			text-align: center;
		}
	}

	.card {
		justify-self: center;
	}

	.search .container form {
		font-size: 16px;
	}
}

@media (max-width: 500px) {
	.details-top,
	.actor-details-top {
		margin: 0;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		img {
			height: 300px;
			margin: 0;

			object-fit: cover;
			border-radius: 5px;
		}

		p {
			margin: 20px 0;
		}
	}

	.container {
		padding: 0 10px;
	}
}

@media (max-width: 480px) {
	.main-header .container {
		flex-direction: column;
	}

	.main-header ul {
		gap: 35px;
	}

	.main-header ul li {
		margin-left: 0px;
	}

	.main-header .logo {
		margin-bottom: 20px;
	}

	.header-wrapper {
		gap: 25px;

		h2 {
			font-size: 16px;
			padding: 5px 25px;
		}
	}

	.search .container form {
		font-size: 14px;
		min-width: 320px;
	}
}

@media (max-width: 380px) {
	.header-wrapper {
		gap: 25px;

		h2 {
			font-size: 12px;
			padding: 5px 25px;
		}
	}

	.search .container form {
		min-width: 290px;
	}
	.card {
		background: #04376b;
		border-radius: 5px;
		max-width: 300px;
	}
}
